ul.clients {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.clients li.client {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.clients li.client:hover {
    background-color: #f0f0f0;
}
