{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Inventory{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Inventories</h1>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Upload an inventory</div>
	<form class="form-inline panel-body" method="post" role="form" enctype="multipart/form-data">
		{{ uploadform.hidden_tag() }}
		{{ wtf.form_errors(uploadform, hiddens="only") }}
		<div class="form-group">{{ uploadform.inventory() }}</div>
		<div class="form-group pull-right">{{ uploadform.submit(class_="btn btn-primary") }}</div>
	</form>
</div>

<table class="table table-bordered table-striped">
<tr>
	<th>ID</th>
	<th>Name</th>
	<th>Filename</th>
	<th></th>
</tr>
{% for i in inventories %}
<tr>
	<td>{{ i.id }}</td>
	<td>{{ i.name }}</td>
	<td>{{ i.filename }}</td>
	<td><div class="btn-group" role="group">
			<a href="{{ url_for('main.inventory_delete', inventory_id=i.id) }}" class="btn btn-default">
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</a>
	</div></td>
</tr>
{% endfor %}
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
